{{define "app"}}
<!doctype html>
<html lang="en">
  
{{ template "head" }}
  <body>
    {{ template "navbar"}}
    <h1>Tabla Base</h1>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Email</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Victor Cea</td>
      <td>viceaparedes@gmail.com</td>
      <td>Editar | Eliminar</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Usuario Base dos</td>
      <td>ubase22@gmail.com</td>
      <td>Editar | Eliminar</td>
    </tr>
    
  </tbody>
</table>

{{template "footer"}}
  </body>
</html>
{{end}}